<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.logistics.purchase.mapper.OrderdetailMapper" >
  <resultMap id="BaseResultMap" type="com.zking.logistics.purchase.model.Orderdetail" >
    <constructor >
      <idArg column="UUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="GOODSUUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="GOODSNAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PRICE" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="NUM" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="MONEY" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="ENDTIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="ENDER" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="STOREUUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="STATE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORDERSUUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <!--字段-->
  <sql id="Base_Column_List" >
    UUID, GOODSUUID, GOODSNAME, PRICE, NUM, MONEY, ENDTIME, ENDER, STOREUUID, STATE, 
    ORDERSUUID
  </sql>

  <!--查询-->
  <!--查询单个-->
  <select id="querySingleOrderdetail" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orderdetail
    where UUID = #{uuid,jdbcType=INTEGER}
  </select>
  <!--分页查询-->
    <select id="queryOrderdetailsPager" resultType="com.zking.logistics.purchase.model.Orderdetail"
            parameterType="com.zking.logistics.purchase.model.Orderdetail">
      select
      <include refid="Base_Column_List" />
      from orderdetail
    </select>

  <!--删除-->
    <delete id="deleteOrderdetail" parameterType="java.lang.Integer" >
    delete from orderdetail
    where UUID = #{uuid,jdbcType=INTEGER}
  </delete>

  <!--新增-->
  <insert id="insertOrderdetail" parameterType="com.zking.logistics.purchase.model.Orderdetail" >
    insert into orderdetail ( GOODSUUID, GOODSNAME,
      PRICE, NUM, MONEY, ENDTIME, 
      ENDER, STOREUUID, STATE, 
      ORDERSUUID)
    values (#{goodsuuid,jdbcType=INTEGER}, #{goodsname,jdbcType=VARCHAR},
      #{price,jdbcType=REAL}, #{num,jdbcType=INTEGER}, #{money,jdbcType=REAL}, #{endtime,jdbcType=TIMESTAMP}, 
      #{ender,jdbcType=INTEGER}, #{storeuuid,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, 
      #{ordersuuid,jdbcType=INTEGER})
  </insert>

  <!--修改-->
  <update id="updateOrderdetail" parameterType="com.zking.logistics.purchase.model.Orderdetail" >
    update orderdetail
    <set >
      <if test="goodsuuid != null" >
        GOODSUUID = #{goodsuuid,jdbcType=INTEGER},
      </if>
      <if test="goodsname != null" >
        GOODSNAME = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=REAL},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        MONEY = #{money,jdbcType=REAL},
      </if>
      <if test="endtime != null" >
        ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ender != null" >
        ENDER = #{ender,jdbcType=INTEGER},
      </if>
      <if test="storeuuid != null" >
        STOREUUID = #{storeuuid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="ordersuuid != null" >
        ORDERSUUID = #{ordersuuid,jdbcType=INTEGER},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>

</mapper>