<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.logistics.personnel.mapper.DepMapper">
    <!--resultMap配置-->
    <resultMap id="BaseResultMap" type="com.zking.logistics.personnel.model.Dep">
        <constructor>
            <idArg column="UUID" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="TELE" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <!--sql字段-->
    <sql id="Base_Column_List">
        UUID, NAME, TELE
    </sql>
    <!--新增-->
    <insert id="insertDep" parameterType="com.zking.logistics.personnel.model.Dep">
        INSERT INTO dep(name,tele) VALUES(#{name},#{tele})
    </insert>
    <!--修改-->
    <update id="updateDep" parameterType="com.zking.logistics.personnel.model.Dep">
        UPDATE dep SET NAME=#{name},tele=#{tele} WHERE uuid=#{uuid}
    </update>
    <!--删除-->
    <delete id="deleteDep">
        DELETE FROM dep WHERE uuid=#{uuid}
    </delete>
    <!--查询单个-->
    <select id="querySingleDep" resultType="com.zking.logistics.personnel.model.Dep">
        SELECT
        <include refid="Base_Column_List"/>
        FROM dep WHERE uuid=#{uuid}
    </select>
    <!--分页-->
    <select id="queryDepPager" resultType="com.zking.logistics.personnel.vo.DepVo"
            parameterType="com.zking.logistics.personnel.model.Dep">
        SELECT dep.UUID,dep.name,dep.TELE,COUNT(emp.uuid) as emp_count FROM dep LEFT JOIN emp ON dep.uuid=emp.depuuid
        <where>
            <if test="null!=name and ''!=name">
                and dep.name like concat('%',concat(#{name},'%'))
            </if>
        </where>
        GROUP BY dep.uuid
    </select>
    <!--查询所有部门-->
    <select id="queryDep" resultType="com.zking.logistics.personnel.model.Dep">
        SELECT
        <include refid="Base_Column_List"/>
        FROM dep
    </select>
    <!--根据部门名称查询部门-->
    <select id="queryDepName" resultType="com.zking.logistics.personnel.model.Dep">
        SELECT
        <include refid="Base_Column_List"/>
        FROM dep where name=#{name}
    </select>
</mapper>